input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

body {
max-width: 2000px;
margin: 0px auto;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color:  #ffe135;
}

#topimage1  {
  float: left;
  margin: 0 0 0 0;
}

#topimage2  {
  float: right;
  margin: 0 0 0 0;
}

h1 {
margin: 50px;
text-align: center;
}

h2 {
  margin: 50px;
  text-align: center;
}

h3 {
margin: 50px;
text-align: center;
}

div {
  text-align: center;
}

#container {
position: relative;
}

#sections {
width: 500px;
}

#sections > div {
background: #ffe135;
opacity: .2;
margin-left: 40px;
margin-bottom: 200px;
text-align: left;
}
#sections > div:last-child {
margin-bottom: 30px;
}
#sections > div.graph-scroll-active {
opacity: 1;
}

#graph {
margin-left: 40px;
margin-right: 20px;
margin-bottom: 200px;
width: 1000px;
position: -webkit-sticky;
position: sticky;
top: 0px;
float: right;
}

@media (max-width: 925px) {
#graph{
  width: 100%;
  margin-left: 0px;
  float: none;
}

#sections {
  width: auto;
  position: relative;
  margin: 0px auto;
}

#sections > div {
  background: rgba(200, 143, 23, .5);
  padding: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 80vh;
}

pre {
  overflow: hidden;
}

h1{
  margin: 10px;
}
}

svg {
background-color: #ffffe0;
}
